RemoteClientForSumoWCF/RemoteClientForSumoWCF/Service References/SumoWCFService/SumoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://admgaming-pc/SumoWCFService/SumoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SumoWCFService" />
  <xs:import schemaLocation="http://admgaming-pc/SumoWCFService/SumoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="InitializeSimulation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeSimulationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitializeSimulationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSimulation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSimulationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndSimulationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartSimulation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartSimulationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestartSimulationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTimeStep">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTimeStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SumoWCFService" minOccurs="0" name="GetCurrentTimeStepResult" nillable="true" type="q1:TimeStepTDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SumoWCFService" minOccurs="0" name="GetTimeStepResult" nillable="true" type="q2:TimeStepTDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfTimeSteps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfTimeStepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberOfTimeStepsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSingleStep">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSingleStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunSingleStepResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunElapsedTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elapsedTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunElapsedTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunElapsedTimeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVehicleSpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="speed" type="xs:double" />
        <xs:element minOccurs="0" name="ms" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVehicleSpeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeVehicleSpeedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVehicleMaxSpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxSpeed" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVehicleMaxSpeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeVehicleMaxSpeedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeVehicleBehaviour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeVehicleBehaviourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResumeVehicleBehaviourResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="routeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departTime" type="xs:int" />
        <xs:element minOccurs="0" name="departPosition" type="xs:double" />
        <xs:element minOccurs="0" name="departSpeed" type="xs:double" />
        <xs:element minOccurs="0" name="departLane" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewVehicleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStopInVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edgeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="position" type="xs:double" />
        <xs:element minOccurs="0" name="laneIndex" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="durationInMs" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStopInVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStopInVehicleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LonLatTo2DPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LonLatTo2DPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LonLatTo2DPositionResult" nillable="true" type="q3:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEdgeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEdgeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEdgeListResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypeLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypeLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVehicleTypeLengthResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypeWidth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypeWidthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVehicleTypeWidthResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypeMaxAccel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypeMaxAccelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVehicleTypeMaxAccelResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypeMaxSpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypeMaxSpeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVehicleTypeMaxSpeedResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypeMaxDecel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypeMaxDecelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVehicleTypeMaxDecelResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleRouteId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleRouteIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVehicleRouteIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleLaneIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleLaneIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVehicleLaneIndexResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEdgesInRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEdgesInRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEdgesInRouteResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>